.header {
  position        : absolute;
  display         : flex;
  justify-content : space-between;
  top             : 0;
  left            : 100px;
  right           : 100px;
  background-color: transparent !important;
  z-index         : 10;
}

.bg {
  background-color: antiquewhite !important;
}

a {
  color      : #000;
  font-size  : 18px;
  text-shadow: 0 0 66px rgb(16 0 0 / 35%);
}

.active {
  color: #87bcf9 !important;
}

.logo {
  margin-right: 60px;
}

.modal-box {
  position        : absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top             : 0;
  right           : 0;
  left            : 0;
  bottom          : 0;
}

.modal-contents {
  padding         : 20px;
  border-radius   : 12px;
  width           : 800px;
  margin          : 80px auto 0 auto;
  background-color: #fff;
}

.message-content {
  height: 240px !important;
}

.nav-item {
  font-weight: 600 !important;
  font-size  : 18px;
  text-shadow: 0 0 66px rgb(16 0 0 / 35%);
}
.nav-item a {
  cursor: pointer;
  text-transform: capitalize;
}
.popup {
  position: absolute;
  width: 396px;
  top: 42px;
  right: 82px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  box-shadow: 0 0 6px rgb(16 0 0 / 35%);
  list-style: none;
  background-color: #fff;
  z-index: 20;
}
.popup li:hover {
  padding: 6px;
  box-shadow: 0 0 6px rgb(16 0 0 / 35%);
  cursor: pointer;
}