.form-box {
  width        : 500px;
  margin       : 115px auto;
  color        : #fff;
  padding      : 60px 20px;
  border-radius: 60px 12px;
  background   : hsla(205, 46%, 30%, 1);
  background   : linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}

.switch-form {
  font-size : 12px;
  margin-top: 12px;
}

.switch-form span {
  text-decoration: underline;
  cursor         : pointer;
}

.error-message {
  color    : rgb(222, 97, 20);
  font-size: 12px;
  ;
}