<div class="post-item">
  <div class="">
  <div class="">
    <img class="image" [src]="post.image[0].url" style="width: 300px; height: 250px; object-fit: cover;"  />

    <h3 class="title-post my-4">{{ post.title }}</h3>
  </div>
  <div class="inline"></div>
  <div class="footer-post d-flex justify-content-between">
    <div class="footer-post__first d-flex">
      <div class="">
        <i class="fa-regular fa-eye"></i>
        <span>2</span>
      </div>
      <div>
        <i class="fa-regular fa-message"></i>
        <span>6</span>
      </div>
    </div>
    <div class="footer-post__last">
      <div>
        <i class="fa-regular fa-heart"></i>
        <span>2</span>
      </div>
    </div>
  </div>
  </div>
</div>
