<app-header></app-header>
<div class="container">
  <div class="form-content">
    <div class="col-12 text-center">
      <h1 class="title">Lovely little things</h1>
    </div>
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ isEdit ? "Edit an Post" : "Post an article" }}
        </h1>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input
              type="text"
              class="form-control"
              name="title"
              [(ngModel)]="title"
              required
            />
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <div class="">
              <label class="col-form-label">Topic:</label>
              <select class="form-select" name="categoryId" [(ngModel)]="categoryId" required>
                <option
                  *ngFor="let category of categories"
                  value="{{ category._id }}"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
            <div class="">
              <label class="col-form-label">Image:</label>
              <input
                type="file"
                class="form-control"
                id="recipient-name"
                name="image"
                multiple
                (change)="onImage($event)"
              />
              <div class="mb-3 d-flex">
                <div *ngFor="let img of image">
                  <img
                    src="{{
                      img.url
                        ? img.url
                        : 'https://t4.ftcdn.net/jpg/02/51/95/53/360_F_251955356_FAQH0U1y1TZw3ZcdPGybwUkH90a3VAhb.jpg'
                    }}"
                    alt=""
                    style="width: 100px"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea
              class="form-control message-content"
              id="message-text"
              name="desc"
              minlength="20"
              rows="10"
              [(ngModel)]="desc"
              required
            ></textarea>
          </div>
          <div class="error" *ngIf="errMessage">
            {{errMessage}}
          </div>
          <div class="modal-footer gutters">
            <button type="submit" style="width: 100px" class="btn btn-primary">
              {{ isEdit ? "Edit" : "Post" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
