<div class="row">
  <div class="col-12 list-post" *ngFor="let post of posts">
    <div class="row post-item-row">
      <div class="col-5">
        <img
          [src]="post.image[0].url"
          [alt]="post.title"
          style="width: 360px; max-height: 250px;"
        />
      </div>
      <div class="col-6 info-post">
        <div class="row mb-2 relative">
          <div class="col-11">
            <span>{{ formatDate(post.createdAt) }}</span>
          </div>
          <div class="col align-self-end cursor" (click)="openPopup(post._id)">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
          <ul class="popup" *ngIf="isPopup === post._id && isOpen">
            <li (click)="onDetail(post._id, post.categoryId)">View</li>
            <li (click)="onEdit(post._id)">Edit</li>
            <li style="color:brown" (click)="onDelete(post._id)">Delete</li>
          </ul>
        </div>
        <h3 class="title-post cursor" (click)="onDetail(post._id, post.categoryId)">{{ post.title }}</h3>
        <div class="description">{{ post.desc }}</div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <nav aria-label="Page navigation">
      <ul class="pagination navigation-post">
        <li class="page-item">
          <button
            class="btn btn-primary"
            (click)="onPrevPage()"
            *ngIf="prevPage"
          >
            Previous
          </button>
        </li>
        <li class="page-item">
          <span class="page-link" style="margin: 0 6px">{{ currPage }}</span>
        </li>
        <li class="page-item">
          <button
            class="btn btn-primary"
            (click)="onNextPage()"
            *ngIf="nextPage"
          >
            Next
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>