<app-header></app-header>

<div class="container content">
  <div class="row">
    <div class="col-12">
      <h1 class="title">Lovely little things</h1>
    </div>
  </div>
  <div class="inline"></div>

  <div class="row post-body">
    <div class="" *ngIf="post">
      <div class="author">
        <img
          [src]="post.userId?.avatar ? post.userId.avatar : 'https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg'"
          alt="avatar"
        />
        <div class="info">
          <h4>{{ post.userId.username }}</h4>
          <span>{{ formatDate(post.createdAt) }}</span>
        </div>
      </div>
      <h3 class="title-post my-4">{{ post.title }}</h3>
      <img class="image" [src]="post.image[0].url" [alt]="post.title" />
      <div class="description">{{ post.desc }}</div>
    </div>
    <div class="inline"></div>
    <div class="footer-post">
      <div class="footer-post__first">
        <div class="blog-review">
          <i class="fa-regular fa-eye"></i>
          <span>2</span>
        </div>
        <div class="blog-review">
          <i class="fa-regular fa-message"></i>
          <span>{{commentLength}}</span>
        </div>
      </div>
      <div class="footer-post__last">
        <div class="blog-review" (click)="onLiked(post._id)">
          <i class="fa-regular fa-heart"></i>
          <span>{{liked}}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="inline"></div> -->
  <ul class="list-comment">
    <li class="comment-content" *ngFor="let comment of comments; let index = index">
      <div class="comment-content__main">
        <img
          [src]="comment.userId?.avatar ? comment.userId.avatar : 'https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg'"
          alt="avatar"
        />

        <div>{{comment.content}}</div>
      </div>
      <div class="comment-content__day fs-6">
        <span><i class="far fa-calendar"></i> {{ formatDate(comment.createdAt) }}</span>
        <div>
          <p>
            <button (click)="onReply(comment._id)" class="btn fs-6" type="button" data-bs-toggle="collapse" [data-bs-target]="'#' + comment._id" aria-expanded="true" [aria-controls]="comment._id">
              Reply
            </button>
          </p>
          <div class="" *ngIf="commentId === comment._id">
            <input class="p-2 mb-4 w-100" placeholder="Write a comment..." [(ngModel)]="commentValue" (keyup.enter)="addComment(comment._id)" />
          </div>        
        </div>
      </div>
      <div *ngIf="comment.replies?.length > 0">
        <button (click)="showMore()" *ngIf="!isMore" class="btn ms-5 fw-bold">View {{comment.replies?.length}} replies</button>
        <ul *ngIf="isMore" class="ms-5 list-comment">
            <li class="comment-content" *ngFor="let item of comment.replies; let i = index">
              <div class="comment-content__main">
                <img
                  class="avatar-child"
                  [src]="comment.userId?.avatar ? comment.userId.avatar : 'https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg'"
                  alt="avatar"
                />
                <div>{{item.content}}</div>
              </div>
              <div class="comment-content__day fs-6">
                <span><i class="far fa-calendar"></i> {{ formatDate(item.createdAt) }}</span>
                <div>
                  <p>
                    <button (click)="onReply(item._id)" class="btn fs-6" type="button" data-bs-toggle="collapse" [data-bs-target]="'#' + comment._id" aria-expanded="true" [aria-controls]="comment._id">
                      Reply
                    </button>
                  </p>
                  <div class="" *ngIf="commentId === item._id">
                    <input class="p-2 mb-4 w-100" placeholder="Write a comment..." [(ngModel)]="commentValue" (keyup.enter)="addComment(comment._id, index)" />
                  </div>        
                </div>
              </div>
              <div *ngIf="i < comment.replies.length - 1" class="inline"></div>
            </li>
        </ul>
      </div>
      <div class="inline"></div>
    </li>

    <div>
      <button (click)="onShowMoreComment()" *ngIf="isMoreComment" class="btn fs-6 fw-bold">See more...</button>
    </div>
  </ul>

  <div class="row comment">
    <div class="col-12">
      <h5>Comments</h5>
      <div class="">
        <input type="text" id="message" class="form-control" [(ngModel)]="commentValue" placeholder="Write a comment..." (keyup.enter)="addComment(null, null)" />
      </div>
    </div>
  </div>


  <div class="relate-post">
    <h5>Relate Blogs</h5>
    <div class="row list-relate-post">
      <app-relave-post
      *ngFor="let post of posts"
      [post]="post"
      (click)="onDetail(post._id, post.categoryId._id)"
      class="col-4"
      ></app-relave-post>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination navigation-post">
        <li class="page-item">
          <button
            class="btn btn-primary"
            (click)="onPrevPage()"
            *ngIf="prevPage"
          >
            Previous
          </button>
        </li>
        <li class="page-item">
          <span class="page-link" style="margin: 0 6px">{{ currPage }}</span>
        </li>
        <li class="page-item">
          <button
            class="btn btn-primary"
            (click)="onNextPage()"
            *ngIf="nextPage"
          >
            Next
          </button>
        </li>
      </ul>
    </nav>
  </div>

  
</div>

<app-footer></app-footer>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

