<app-header></app-header>

<div class="container">
  <div class="row account">
    <div class="col-4">
      <div class="bg-white w-[35%] px-5 pt-3 pb-48 rounded-md">
        <div class="image">
          <img
            [src]="url_img"
            alt="user"
            style="width: 150px; height: 150px"
          />
          <h3 class="username">
           {{user.username}}
          </h3>
        </div>
        <div class="inline"></div>
        <div>
          <ul class="list-nav">
            <li class="cursor-pointer">
              <a
              class="nav-link"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="/account"
              >
                <i class="fa-regular fa-file-lines  mr-2 text-[19px] text-[#0271dd]"></i>
                Blogs
              </a>
            </li>
            <li class="cursor-pointer">
              <a class="nav-link" routerLinkActive="active" routerLink="/manage-blog">
                <i class="fa-regular fa-bell  mr-2 text-[19px] text-primary-color"></i>
                Create Blog
              </a>
            </li>
            <li *ngIf="user.roleId.moderator" class="cursor-pointer">
              <a class="nav-link" routerLinkActive="active" routerLink="/system">
                <i class="fa-regular fa-bell  mr-2 text-[19px] text-primary-color"></i>
                System
              </a>
            </li>
            <li class="cursor-pointer">
              <a class="nav-link" routerLinkActive="active"  routerLink="/notification">
                <i class="fa-regular fa-bell  mr-2 text-[19px] text-primary-color"></i>
                Notification
              </a>
            </li>
            <li class="cursor-pointer" (click)="onLogout()">
              <i class="fa-solid fa-right-from-bracket"></i>
              Logout
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-8">
      <app-my-blogs *ngIf="!isNotify" [user]="user"></app-my-blogs>
      <app-notification *ngIf="isNotify"></app-notification>
    </div>
  </div>
</div>
<app-footer></app-footer>